<?xml version='1.0' encoding='utf-8'?>
<widget id="com.benedictime.kmdb" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KMDB</name>
    <description>
        De officiële app van de Kunstmarkt De Bilt.
    </description>
    <author email="michel@benedictime.com" href="http://benedictime.com">
        Benedictime & Frank Schmidt
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <access origin="*.kunstmarktdebilt.nl" />
</widget>